.border{
    border: 2px solid red;
    margin: 3px;

}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.bg-grey{
    background-color: rgb(24, 23, 23);
}
.border-radius{
    border-radius: 6px;
}
.m-1{
    margin: 4px;

}
.p-1{
    padding: 10px;
}